{% extends 'base.html' %}



{% block section %}
 <!-- Categories Start -->



<!-- Courses Start -->


    <section id="blog-posts" class="blog-posts section">

        <div class="container">
          <div class="row gy-4">
            
            {% for employer in employeers %}
            <div class="col-lg-6">
              <article>
  
                <div class="post-category ms-3  ">
                  <!-- <img src="/static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid"> -->
                   
                   <a href="{% url 'employer-detail' employer.uuid %}" class="  text-primary fw-bold fs-3"> {{ employer.company_name}} </a>
                   <p class="post-category  card-body fs-6">  
                  
                      
    
                      <span class=" text-secondary" > {{ employer.location }}  </span>
                    </p> 
    
                </div>
                
  
              </article>
            </div><!-- End post list item -->
  
            {% endfor %}
          </div>
        </div>

  
      </section>

{% endblock %}