{% extends 'base.html' %}

{% block section %}




    <section id="blog-posts" class="blog-posts section">


       <!-- search bar  -->
          <div class="row justify-content-end">
            <div class="col-6 my-2 mb-3">
                <form action="{% url 'employer-jobs' employer.uuid %}" method="get">
                <input class="form-control" type="text" placeholder="search jobs/ company/ salary/ onsite/ remote etc" name="query"{% if query %} value="{{query}}" {% endif %}>
                </form>
        </div>

        <!-- search bar end  -->

        <div class="container">
          <div class="row gy-4">
            
            {% for job in jobs %}
            <div class="col-lg-6">
              <article>
  
                <div class="post-category ms-4 p-3">
                  <!-- <img src="/static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid"> -->
                   
                   <a href="{% url 'jobdetails' job.uuid %}" class="  text-primary fw-bold fs-3"> {{ job.title }} </a>
                   <p class="post-category  card-body fs-6">  
                  
                      <a href=""> {{ job.employer }}</a>
    
                      | {{ job.location }}| {{job.work_mode}} | <time datetime="2022-01-01">{{ job.posted_date}}</time><span class="text-success fw-bold "> {{ job.posted_date|timesince }} ago</span> 
                    
                      
                    </p> 
                   <div>
                   <!-- <a href="" class="text-primary me-2"><i class="fas fa-eye"></i></a> -->
                <!-- <a href="" class="text-warning me-2"><i class="fas fa-pen"></i></a>  -->
                <a href="" class="text-danger"><i class="fas fa-trash"></i></a>
              
                </div>
    
                </div>
  
              </article>
            </div><!-- End post list item -->
  
            {% endfor %}
          </div>
        </div>

  
      </section><!-- /Blog Posts Section -->



{% endblock %}