{% extends 'base.html' %}

{% block section %}

<div class="container my-5">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white text-center fw-bold fs-4">
        Create New Job
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <div class="mn-3">
                <label for="courseTitle" class="form-label">Job Title</label>
            
                {{ form.title }}
                {% if form.title.errors %}
                    <p class="text-danger">{{ form.title.errors | join:" " }}</p>
                 {% endif %}
            </div>

            <!-- <div class="mn-3 mt-2">
                <label for="courseTitle" class="form-label ">Employer name </label>
               {{ form.employer }}
            
                {% if form.employer.errors %}
                    <p class="text-danger">{{ form.employer.errors | join:" " }}</p>
                 {% endif %}
            </div> -->
            
        
  
          <div class="mb-3">
            <label for="jobDescription" class="form-label">Description</label>
            <!-- <textarea class="form-control" id="courseDescription" name="description" rows="4" placeholder="Enter course description"></textarea> -->
            {{ form.description }}
            {% if form.description.errors %}
                    <p class="text-danger">{{ form.description.errors | join:" " }}</p>
                 {% endif %}
          </div>
  
          <div class="mb-3">
            <label for="candidateType" class="form-label">Candidate Type </label>
        
              {{ form.candidate_type }}
              {% if form.candidate_type.errors %}
                    <p class="text-danger">{{ form.candidate_type.errors | join:" " }}</p>
                 {% endif %}
          </div>
  
          <div class="mb-3">
            <label for="courseLevel" class="form-label">Experiance</label>
            
            {{ form.experiance }}
            {% if form.experiance.errors %}
            <p class="text-danger">{{ form.experiance.errors | join:" " }}</p>
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="job_type" class="form-label">Job Type</label>

            {{ form.job_type }}
            {% if form.job_type.errors %}
            <p class="text-danger">{{ form.job_type.errors | join:" " }}</p>
            {% endif %}
          </div>
  
         
            <div class="mb-3">
              <label for="skills" class="form-label">Skills </label>
              <!-- <input type="text" class="form-control" name="fees" id="courseFee" placeholder="e.g., $499"> -->
              {{ form.skills }}
              {% if form.skills.errors %}
              <p class="text-danger">{{ form.skills.errors | join:" " }}</p>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="location" class="form-label ">Location </label>
              <!-- <input type="text" name="offer_fee" class="form-control" id="offerFee" placeholder="e.g., $299"> -->

              {{ form.location }}
              {% if form.location.errors %}
              <p class="text-danger">{{ form.location.errors | join:" "}}</p>
              {% endif %}
            </div>

            <div class="mb-3">
                <label for="closing_date" class="form-label ">Closing date  </label>
                <!-- <input type="text" name="offer_fee" class="form-control" id="offerFee" placeholder="e.g., $299"> -->
  
                {{ form.closing_date }}
                {% if form.closing_date.errors %}
                <p class="text-danger">{{ form.closing_date.errors | join:" "}}</p>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="posted_date" class="form-label ">Posted date  </label>
                <!-- <input type="text" name="offer_fee" class="form-control" id="offerFee" placeholder="e.g., $299"> -->
  
                {{ form.posted_date }}
                {% if form.posted_date.errors %}
                <p class="text-danger">{{ form.posted_date.errors | join:" "}}</p>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="salary_package" class="form-label ">Salary Package  </label>
                <!-- <input type="text" name="offer_fee" class="form-control" id="offerFee" placeholder="e.g., $299"> -->
  
                {{ form.salary_package }}
                {% if form.salary_package.errors %}
                <p class="text-danger">{{ form.salary_package.errors | join:" "}}</p>
                {% endif %}
            </div>

            
            <div class="mb-3">
                <label for="work_mode" class="form-label ">Work Mode  </label>
                <!-- <input type="text" name="offer_fee" class="form-control" id="offerFee" placeholder="e.g., $299"> -->
  
                {{ form.work_mode }}
                {% if form.work_mode.errors %}
                <p class="text-danger">{{ form.work_mode.errors | join:" "}}</p>
                {% endif %}
            </div>
            

            


              

          
  
          
  
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4">Post Job</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}